<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand index" href="{% url 'index' 'news' %}">海角论坛</a>
            </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'index' 'news' %}" class="active index">论坛</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜帖子，搜作者">
                  </div>
                  <a href="{% url 'search_result' %}" type="submit" class="btn btn-default">搜索</a>
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'new_article' %}"> <span class="glyphicon glyphicon-pencil"></span> 写一篇</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if request.session and request.session.user %}
                    <li><p class="navbar-text text-left">欢迎，<strong>{{ request.session.user.user }}</strong></p></li>
                    <li><a href="{% url 'out' %}">注销</a>
                    {% else %}
                    <li class="beforeLogin"><a href="{% url 'login' %}">登录</a></li>
                    <li class="beforeLogin"><a href="{% url 'register' %}">注册</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid article-content" id="102">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ article.title }}</h3>
                        <h5><a href="{% url 'userinfo' article.author.name %}">{{ article.author.name }}</a></h5>
                    </div>
                    <div class="panel-body">
                        <p style="line-height: 180%; ">
                            {{ article.content }}
                        </p>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="col-sm-3 col-xs-6 text-right">
                            <small>发表时间：{{ article.created_time }}</small>
                        </div>
                        {% if request.session.user.user == article.author.name %}
                        <div class="col-sm-3 col-xs-6 col-sm-offset-3 text-right">
                            <a href="/article/detail/{{ article.id }}/delete" type="button" class="btn btn-danger btn-xs"> 删除文章 </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid comment-list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4><strong>我来说一句......</strong></h4>
                </div>
            </div>
            <div class="row">
                {% if request.session and request.session.user %}
                <div class="col-sm-1 col-sm-offset-1 text-right" style="padding: 0; ">
                    <h5><strong id="username">{{ request.session.user.user }}</strong></h5>
                </div>
                <form action="/article/2/comment/{{ article.id }}" method="post">
                    {% csrf_token %}
                    <div class="col-sm-8">
                        <textarea class="form-control" name="comment-content" id="comment-content" rows="3" style="resize: none;" required></textarea>
                    </div>
                    <div class="col-sm-1 col-sm-offset-9" style="margin-top: 15px;">
                        <button type="submit" class="btn btn-primary btn-sm comment-publish">发表</button>
                    </div>
                </form>
                {% else %}
                <div class="col-sm-12 col-xs-12 text-center">
                    <h2>请登录后发表评论</h2>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="margin: 10px 0">
                <div class="col-sm-9 col-sm-offset-1">
                    <div style="height: 3px; background-color: gray;"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid comment">
            {% for comment in article_comment %}
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <p><strong class="comment-publisher-name">{{ comment.publisher.name }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 comment">
                        <p class="comment-content" style="line-height: 150%; ">
                            {{ comment.comment_content }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2 text-left">
                        <small class ="comment-time">{{ comment.created_time }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="/static/js/article_detail.js"></script>
    <script src="/static/js/common.js"></script>
</body>